<div class="answer-box">
        <div class="formtitle">View Answers
                <div class="formsubtitle">Answers to your Question</div>
        </div>
        
        <div class="formbody" >
                <div >Title of Question : </div> <input type="text" class="form-text" id="title" ng-model="$ctrl.submission.title">
        </div>

        <div class="formfooter" >   
                <button class='formbutton' ng-click='$ctrl.getAnswer()'>Post</button>
        </div>

</div>

<div class="jay-box" ng-repeat="answer in $ctrl.answers">
    Answers : 
    {{answer.content}}
</div>

<div class="formfooter" >   
      <button class='formbutton' ng-click='$ctrl.doTest()'>Test</button>
</div>
